

.card{
  border : 1px solid black ; 
  border-radius: 8px;
  padding:20px;
  margin:10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  
background-color: #cbe5ed;
background-image: linear-gradient(315deg, #757e81 0%, #343434 74%);

}

.profilePic{
  max-width: 100%;
  height: auto;
  border-radius: 20%;
}

.card-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 12px;
}

.card-text{
  color: rgb(118, 118, 118);
}

/* STUDENT */
.student{
  border: 2px solid rgb(51, 7, 7);

}

/* LIST */
.list-item{
  list-style: none;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-bottom: 9px;
  

}
.list-category{
  text-align: center;
  background-color: blue;
}
.list-card{
  text-align: justify;
  border: 1px rgb(136, 14, 14) solid;


  
}
li{
  margin-bottom: 12px;
}